

<!DOCTYPE html>
<html lang="en">
<head>
        <title>Teams</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/HomePage.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body >
        <div class="main_header" id="grad1" style="text-decoration: none;background-color: black;">
            <span style="float: left;color: white;font-size: 60px;width:20%;">
                <img src="/images/logo.png" style="width:100%;margin:20px">
            </span>
            <span style="float: left;color: white;margin-top: 40px;
        font-family: 'Press Start 2P';font-size: 30px">
                GAME<br>VAMP
            </span>
            <span >
                <div class="topnav" style="text-decoration: none;">
                    <a  href="/">Home</a>
                    <a href="/games">Games</a>
                    <a href="#news">News</a>
                    <a href="/teams">Teams</a>
                    <a href="/user_match/match">Matches</a>
                    <a class="active" href="/api">Tournaments</a>
                    <a href="/aboutus">About</a>
                    <form style="display: inline;" method="POST" action="/logout">
                        <a>
                            <button type="submit" class="btn btn-primary" style="background-color:black; outline: none;border: none;">Log out</button>
                        </a>
                    </form>
                </div>
            </span>
        </div>
        <br>
        <div style="margin-top: 160px !important;float:left;width:66%;margin-bottom:50px" class="container mt-4">
            <div class=" form_body">
                <div class="card-header">
                    <h2>View Tournament Details</h2>
                    <a href="/compreg/dispay"><button class="view_like">View Registered Tourney</button></a>
                </div>
                <div class="topnav" style="text-decoration: none;float: none !important;background-color: rgb(68, 68, 68) ;">
                    <a class="active" href="/api"><strong> CS:GO </strong></a>
                    <a href="/api/dota2"><strong> Dota 2 </strong></a>
                    <a href="/api/lol"><strong> League Of Legends </strong></a>
                </div>
                <div class="card-body">                
                    <div>
                        <table class="table_" style="width:100%;color: white;">
                            <tr>
                                <th>Name</th>
                                <th>Game Name</th>
                                <th>Startdate</th>
                                <th>EndDate</th>
                                <th>PrizePool</th>
                                <th>Register here</th>
                            </tr>
                            <% data1.forEach(function(data){ %>
                            <tr>
                                <td><%= data.name%></td>
                                <td><%= data.sportAlias%></td>
                                <td><%= moment(data.startDate).format('Do MMMM, YYYY') %></td>
                                <td>
                                    <%= moment(data.endDate).format('Do MMMM, YYYY') %>
                                </td>
                                <td><%= data.prizePoolUSD %></td>
                                <td ><a href="/competitions/<%= data.id%>"><button class="table_button">Register Here</button></a></td>
                            </tr>
                            <% }); %>
                        </table>
                        </div> 
                </div>
        </div>
    </div>
    <div class="logged_disp" style="border: none;">
        <span>
            <img src="https://www.pngkit.com/png/full/925-9257192_freebie-vector-of-a-desktop-computer-on-transparent.png" style="width: 100%;">
        </span>
         <h1 style="color: blanchedalmond;">Logged in as <span id="cookie_see"></span></h1>
    </div>
        <div style="clear: both" class="main_footer" id="grad2">
           <hr style="width: 50%">
           <br><br><br>
           <h3 style="text-align: center;color: white">
               <img src="/images/twitch.png" style="width: 5%;">
                   Watch your favourite streamers
           </h3>
           <br><br><br>
       </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
            <script>
                document.getElementById("cookie_see").innerHTML=Cookies.get('name');
                JSON.parse(Cookies.get('name1').slice(2))
            </script>
</body>
</html>
    